@import 'variables';

.app-content {
  height: 100%;
}
.app-content {
  background-color: $accent;
}
.app-sidenav {
  background-color: $primary;
}
.mat-icon {
  color: $accent;
}
.mat-checkbox {
  color: $primary;
}
